/*html tags*/
body{
    text-align:center;
    margin: 0;
}
h1{
    margin: 0;
    padding-top: 10px;
    font-family: sans-serif;
}
h2{
    margin: 0;
    padding-top: 10px;
    font-family: sans-serif;
}
h3{
    font-family: sans-serif;
}
p{
    padding-bottom: 10px;
    font-family: sans-serif;
}

/*classes*/
.top-container{
    background-color: #3C6255;
}
.my-img{
    height: 150px;
    border-radius: 100%;
    padding: 10px;
}
.middle-container{
    background-color: #61876E;

}